<a href="https://colab.research.google.com/github/dropin1979/hello_world/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("tes")

tes

In [2]:
year_born=("Paris Hilton",1981)

In [3]:
celebs = [("Brad Pitt", 1963), ("Jack Nicholson", 1937),("Justin Bieber", 1994)]

In [6]:
print(celebs)

[('Brad Pitt', 1963), ('Jack Nicholson', 1937), ('Justin Bieber', 1994)]

In [7]:
print(len(celebs))

3

In [10]:
for name,year in celebs:
  if year<1981:
    print(name)

Brad Pitt
Jack Nicholson

In [13]:
studenci=[("marcin",["fizyka","matematyka"]),("ktos",["polski","wf"])]
for name, subject in studenci:
  print(name, " takes ",len(subject)," zajęć")

marcin  takes  2  zajęć
ktos  takes  2  zajęć

In [17]:
n=0
for name, subject in studenci:
  if "fizyka" in subject:
      n+=1
print(n," studentow uczy sie matematyki")

1  studentow uczy sie matematyki

In [20]:
numbers=[13,25,343,23]
count=0
for n in numbers:
  count+= n%2==1
print(count>0)

True